$black: #323232;
$silcer: #afafaf;
$mercury: #e1e1e1;
$alabaster: #fafafa;

$instockBlue: #004892;
$instockBlueDark: #002f5f;

$brainflixBlue: #0095ff;
$brainflixBlueDark: #0065ad;

$white: #ffffff;

$mobile-padding: 5vw;
