@use 'partials/variables' as *;
@use 'partials/mixins' as *;
@use 'partials/typography' as *;

body {
  font-family: "Acenir Next";
  margin: 0;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 14px;
  line-height: 22px;
}

h4 {
  font-size: 14px;
  line-height: 18px;
}

h5 {
  font-size: 12px;
  line-height: 20px;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

// header section
.navBar {
  height: 25vw;
  display: flex;
  flex-direction: column;
  background-color: $black;

  @include tablet {
    height: 80px;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }

  &__logo {
    display: block;

    width: fit-content;
    height: 19px;
    margin: 5vw auto 5vw;

    @include tablet {
      margin: 0 3.125vw;
    }
  }

  &__links {
    display: flex;
    height: 100%;
    margin: 0;
    padding: 0;
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;

    a {
      color: $white;
      height: fit-content;
      opacity: 0.7;
    }

    &--selected {
      border-bottom: 4px solid $white;

      a {
        opacity: 1;
      }
    }
  }
}

.hero {
  background-image: url(../assets/Images/hero.jpg);
  background-position: center;
  background-size: cover;
  box-shadow: inset 0 0 0 1000px rgba(50, 50, 50, 0.5);

  width: 100vw;
  height: 57.1875vw;
  margin: 0;

  display: flex;
  align-items: center;

  &__title {
    margin-left: $mobile-padding;
    color: $white;
  }
}

// main section
main {
  & > * {
    padding: 0 $mobile-padding;
  }
}

.about {
  font-weight: 600;

  &__title {
    height: fit-content;
    margin-top: 10vw;
    margin-bottom: 7.5vw;
    line-height: 24px;
  }

  &__image {
    width: 100%;
    display: block;
  }

  &__quote {
    margin-top: 7.5vw;
    margin-bottom: 32px;
    line-height: 24px;
  }

  &__person {
    margin-top: 0;
    margin-bottom: 12.5vw;
    font-size: 14px;
  }
}

.content {
  margin-bottom: 12.5vw;

  &__title {
    font-weight: 600;
    font-size: 16px;

    margin-top: 0;
    margin-bottom: 24px;
  }

  &__paragraph {
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
  }
}

.photos {
  background-color: $alabaster;
  padding-top: 10vw;
  padding-bottom: 10vw;

  &__title {
    margin-top: 0;
    margin-bottom: 7.5vw;
  }

  &__grid {
    img {
      width: 100%;
      display: block;

      margin-top: 0;
      margin-bottom: 5vw;
    }
  }
}

// footer sction
footer {
  background-color: $black;
  color: $white;
  padding-bottom: 54px;
}

.social {
  &__title {
    font-weight: bold;
    font-size: 36px;
    margin-left: 10px;
    margin-top: 0;
    padding-top: 40px;
    // letter-spacing: 1px;
  }

  &__icons {
    display: flex;
    padding-left: 5vw;
    margin-top: 0;
    margin-bottom: 32px;
  }

  &__icon {
    margin-right: 34px;
    width: fit-content;
  }

  &__logo {
    display: none;
  }
}

.contact {
  margin-left: 3.125vw;

  &__name {
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 5vw;
    line-height: 20px;
  }

  &__address,
  &__email,
  &__copyright {
    font-weight: 300;
    line-height: 18px;
  }

  &__address {
    margin-top: 0;
    margin-bottom: 5vw;
  }

  &__email {
    margin-top: 0;
    margin-bottom: 7.5vw;
  }

  &__copyright {
    margin-top: 10vw;
    margin-bottom: 0;
  }
}
